---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Herosection from '../components/Herosection.astro';
---

<Layout title="Home">
	
  <section class="text-center py-12 px-4">
	<Navbar />
	<Herosection />
    
    
  </section>
  
</Layout>

