---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";

export interface Props {
  title?: string;
  showHero?: boolean;
}

const { title, showHero = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title || "The Vaasthu Company"}</title>
    <link rel="icon" href="/Images/logo1.png" type="image/svg+xml" />
  </head>
  <body class="min-h-screen flex flex-col">
    <Navbar />

    {showHero && (
      <section class="">
        
      </section>
    )}

    <main class={`flex-grow ${showHero ? '' : 'pt-5'}`}>
      <slot />
    </main>
  </body>
</html>
